h1{
    margin-top: auto;
    text-align: center;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
}

#bar{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: mediumspringgreen;
}

#line{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    border: 3;
    color: aqua;
}

#pie{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: blueviolet;
}